extends ../auth.layout.pug

block content
    form
        a#flipper-rotate.flipper-rotate rotate

        .flipper#flipper

            .flipper__front
                | front

            .flipper__back
                | back
